header.careershead {
  text-align: center;
  color: white;
  background-image: url("../img/Careers/Careers_JoinUs_Background.png");
}

.careershead h1 {
  color: white;
}

.careershead .section-blocks {
  height: 90vh;
}

.gold-bar {
  margin: 1.5rem 1.5rem 2rem;
}

.careershead .gold-button {
  margin-top: 1rem;
}

.payandbenefits {
  text-align: center;
  background-image: url("/img/Careers/pay_benefits@2x.png");
  padding: 6rem 0;
}

.payandbenefits h1 {
  color: var(--black);
}

.payandbenefits .row {
  justify-content: center;
}

.payandbenefits img {
  width: auto;
  max-height: 100px;
}

.benefits .col-md-3 {
  padding: 4rem 2rem;
}

.benefits h4 {
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.benefits p {
  font-size: 14px;
  letter-spacing: 0.7px;
}

.small-print {
  padding: 7rem 2rem 0;
  max-width: 850px;
  opacity: 0.5;
}

.payandbenefits .small-print a {
  color: #298cd3;
}

@media screen and (max-width: 800px) {
  .benefits .col-md-3 {
    padding: 4rem 5rem;
    max-width: 500px; 
  }
}