  
  /* About NexOne */
  header.aboutNexOne {
    background-image: url('../img/About/About_ImageExport_1.png');
    background-attachment: scroll;
    background-position: center top;
    background-color: #376384;
    width: 100vw;
    height: 635px;
    margin-top: 135px;
    object-fit: contain;
  }

  .About-NexOne {
    margin: 201px 0 21px 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
  }

  .Line-16 {
    width: 73px;
    height: 4px;
    background-color: #c7b484;
  }

  .About_Subheader_Text {
    width: 578px;
    height: 116px;
    margin-top: 30px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.3px;
    text-align: center;
    color: #4f4f4f;
  }
  /* About Awards */

  .aboutAwards {
    color: white;
    background-image: url('../img/About/About_Awards_Img.png');
    background-color: #376384;
  }

  .aboutAwards h1 {
    color: white ;
    padding-bottom: 1rem;
  }

  .aboutAwards ul li {
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-weight: 400;
    list-style: url('../img/About/AboutIcon_AwardsPoint.svg');
  }

  .AboutIcon_AwardsPoint {
    width: 15.4px;
    height: 16.2px;
    flex-grow: 0;
    margin: 2px 30.6px 18.8px 0;
    object-fit: contain;
  }

  .About_ClientsPartners_Img  {
    background-image: url("../img/About/About_ClientsPartners_Img@2x.png");
  }

  .About_ClientsPartners_Img .section-blocks {
    height: 88vh;
  }

  .white-text h1, .white-text {
    color: white;
  }

  p.italics {
    font-style: italic;
    font-weight: 300;
  }

  .white_dash {
    width: 73px;
    height: 4px;
    flex-grow: 0;
    margin: 21px 0 30px;
    object-fit: contain;
    background-color: #ffffff;
  }

  .About_Profile_img {
    background-image: url("../img/About/About_Profile_img.png");
    padding: 8rem 0;
  }


.About_Profile_img ul {
  list-style-type: none;
  max-width: 100%;
  padding-top: 1rem;
}

.About_Profile_img ul li {
  display: flex;
}

.About_Profile_img ul li h6 {
  color: var(--black);
  width: 200px;
}

.About_Profile_img ul li p {
  flex-shrink: 100;
}

.About_Profile_Logos_Grouped {
  padding-top: 1rem;
}

@media screen and (max-width: 800px) {
  header.aboutNexOne {
    padding: 0 1rem;
  }
  .About_ClientsPartners_Img  {
    background-image: none;
  }

  .About_ClientsPartners_Img .section-blocks {
    height: 100%;
    padding: 0;
  }
  .About_ClientsPartners_Img .section-blocks > div{
    padding: 5rem 1.5em;
    background-size: cover;
  }

  .About_ClientsPartners_Img .section-blocks > div:first-of-type {
    background-image: url("../img/About/Mobile/About_ClientsPartners_Gold_Mobilepng.png");
  }

  .About_ClientsPartners_Img .section-blocks > div:last-of-type {
    background-image: url("../img/About/Mobile/About_ClientsPartners_White_Mobile.png");
  }
  .About_Profile_img {
    padding: 5rem 1rem;
  }

  .About_Profile_img ul {
    padding-left: 1.5rem;
  }
  .About_Profile_img ul li {
    flex-flow: column;
  }

  .About_Profile_Logos_Grouped img {
    width: 85vw;
  }
}