@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.ttf');
}



:root {
  --gold: #c7b484;
  --black: #4F4F4F;
  --nexblue: #376384;
  --block-width: 600px;
  --nav-height: 85px;
}

body {
  color: var(--black);
}

h1, h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  letter-spacing: 0.3px;
}

h1, h2 {
  font-size: 45px;
}

h4, h5, h6, p, .small-print {
  font-family: Roboto;
}

h4 {
  font-size: 25px;
  letter-spacing: 1.25px;
  text-align: center;
  color: var(--black);
}

h5 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1rem;
}

h6 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--gold);
}

p {
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
  font-size: 1rem;
}

ul {
  margin-left: -1.25rem;
  font-family: 'Roboto';
  font-weight: 300;
  letter-spacing: 0.2px;
}

.subheader {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.small-print p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.24px;
}

.gold-bar {
  display: block;
  width: 73px;
  height: 4px;
  background-color: var(--gold);
  margin: 1.5rem 0 2.5rem;
}

a.gold-button {
  background-color: var(--gold);
  border-radius: 0;
  padding: 0.5rem 1.25rem;
}

a.gold-button:hover {
  color: var(--gold);
  background-color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* LAYOUT */

.section-blocks {
  display: flex;
  height: 80vh;
}

.block {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 6rem;
}

.section-blocks.centered {
  justify-content: center;
}

.section-blocks.centered h1, .section-blocks.centered p, .section-blocks.centered h2 {
  text-align: center;
}

.block > * {
  max-width: 600px;
}

.block h1 {
  color: var(--black);
  text-align: left;
}

.bg-image {
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}


/* NAV */
.navbar-brand img {
  max-width: 150px;
}

.navbar-brand {
  padding: 0.75rem 0;
}

.navbar {
  width: 100vw;
  flex-grow: 0;
  background: var(--nexblue);
}

.navbar.clear {
  background: none;
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/Homepage/Homepage_Hero_Img.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
  width: 100vw;
  position: relative;
}

.home_banner h1 {
  color: white;
  margin-bottom: 3rem;
  max-width: 1000px;
}

.home_banner {
  padding-top: var(--nav-height);
  height: 100vh;
}

.Homepage_Details_Text {
  position: absolute;
  bottom: 3rem;
  text-align: center;
  color: #b3c5d2;
}

.homepage_whoweare {
  background-color: #f9f9f9;  
}

.services .gold-bar {
  margin-bottom: 50px;
  margin-top: 21px;
}

.services h2 {
  color: var(--black);
}

.services a.subheader {
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  padding: 1.5rem;
}

.services a.subheader:hover {
  color: rgb(255,255,255, 0.75);
}

.services .service-areas {
  display: flex;
  width: 100%;
}
.services .service-areas .col-sm-4 {
  margin-right: 1rem;
  height: 500px;
  padding: 0;
  background-size: 100%;
  background-position: center;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.services .service-areas .col-sm-4:hover {
  background-size: 105%;
  transition: background-size 0.5s ease-in;
}

.Homepage_infotech_Img {
  background: url("/img/Homepage/Homepage_infotech_Img.png");
}

.Homepage_engineering_img {
  background: url("/img/Homepage/Homepage_engineering_img.png");
}

.Homepage_logistics_img {
  background: url("/img/Homepage/Homepage_LogTechSupport_Img.png");
}

.contact-us a {
  color: #4f4f4f;
}

.Homepage_ClientsPartners_Img {
  background-image: url("/img/Homepage/ClientsPartners_Tablet_Img.png");
}

.client-logos { 
  width: 100%;
}

.Homepage_ClientsPartners_Img h1 {
  color: white;
}

.Homepage_ContactUs_MapImage{
  padding-right: 0;
}

.Homepage_ContactUs_MapImage img {
  max-width: 100%;
}

  .Contact-Us-bullets {
    margin-bottom: 15px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: left;
    color: #4f4f4f;
  }

  .Contact-Us-Text {
    margin-left: 40px;
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
    color: #4f4f4f;
    font-weight: 400;
  }

  .Address-margin{
    margin-bottom: 25px;
  }

/* FOOTER */

footer {
  width: 100vw;
  display: flex;
  flex-flow: column;
  padding-bottom: 1.75rem;
}

.nexone_logo {
  margin: 0 auto;
  padding-top: 5rem;
}

.nexone_logo img {
  max-width: 180px;
}

.Footer_Background {
  background-repeat: no-repeat;
  background-image: url("../img/footer_export\ 1.png");
  background-size: cover;
  background-position: center center;
}

.footer_links {
  display: flex;
  max-width: 1000px;
  justify-content: space-around;
  margin: 0 auto;
  flex-grow: 1;
  padding-top: 50px;
}
.footer_links > div {
  padding: 0 1rem;
}
.footer_links a {
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer_links a:hover {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid white;
}

.footer_details {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  justify-content: space-evenly;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 1.35rem;
}

.footer_details > div {
  padding: 0 0.75rem;
}

/* TABLET AND DESKTOP */
@media screen and (min-width: 801px) {
  /* NAV */
  .navbar {
    height: var(--nav-height);
  }

  .navbar li.nav-item {
    text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
  }

  .navbar-dark .navbar-nav .nav-link {
    color:white;
    padding: 0.5rem 0 0.35rem;
    margin: 0 0.75rem;
  }

  .navbar-dark .navbar-nav .active>.nav-link, 
  .navbar-dark .navbar-nav .nav-link.active, 
  .navbar-dark .navbar-nav .nav-link.show, 
  .navbar-dark .navbar-nav .show>.nav-link {
    border-bottom: 2px solid white;
  }

  .navbar-expand-lg .navbar-collapse {
    padding-right: 1rem;
  }

  /* LAYOUT */

  .mobile-only {
    display: none;
  }

  .services {
    margin-left: 7rem;
    padding: 8rem 0;
    width: 92%;
    overflow: hidden;
  }
  
  .services .row .col-sm-4 {
    max-width: 31%;
  }

  .client-logos {
    padding: 7rem 3rem;
  }

  .centered .block {
    padding: unset;
  }

  footer {
    height: 330px;  
  }
}

/* MOBILE */

@media screen and (max-width: 800px) {

  :root {
    --nav-height: 72px;
  }

  /* LAYOUT */

  h1, h2 {
    font-size: 32px;
  }

  .hide-for-mobile {
    display: none;
  }

  .section-blocks {
    padding: 5rem 0 6rem;
    flex-flow: column;
    height: 100%;
  }

  .block {
    padding: 1.5rem;
    box-sizing: border-box;
    width: 100%;
  }

  .mobile-reverse {
    flex-flow: column-reverse;
  }

  .gold-bar {
    margin: 0.5rem 0;
  }

  /* NAV */

  .navbar-collapse {
    position: fixed;
    top: var(--nav-height);
    left: 0;
  }

  .navbar-nav {
    padding: 1.5rem;
    height: 70vh;
    width: 100vw;
    justify-content: center;
    background: rgb(255,255,255, 0.95);
  }

  .navbar-dark .navbar-toggler {
    border: none;
    padding: .25rem 0.5rem;
  }
  .navbar-dark .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
    background-image: url("/img/icons/hamburger.svg");
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url("/img/icons/x - icon.svg");
  }

  .navbar-dark .navbar-nav .nav-link {
    color: var(--black);
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--gold)''
  }

  .navbar-dark .navbar-nav .nav-link.active {
    color: var(--gold);
  }

  .navbar li.nav-item {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
  }

  /* HOME */
  .services {
    padding: 6rem 1.5rem;
  }

  .services .row {
    flex-flow: column;
  }

  .services .row .col-sm-4 {
    margin-bottom: 1rem;
    height: 300px;
  }

  .Homepage_ClientsPartners_Img {
    background-position: left;
  }

  .Homepage_ContactUs_MapImage {
    padding: 0;
  }

  .contact-us .section-blocks {
    padding-bottom: 0;
  }
  

  /* FOOTER */
  .footer_links {
    flex-flow: column;
    align-items: center;
    padding-bottom: 5rem;
  }

  .footer_links > div {
    padding: 0.35rem;
  }

  .footer_details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_details div.mobile-padding {
    padding-bottom: 0.5rem;
  }
}


