header.contacthead {
  background-image: url("../img/Contact/Contact.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
  width: 100vw;
  margin-top: var(--nav-height);
}

@media screen and (max-width: 800px) {
  .contacthead .section-blocks {
    padding-bottom: 0;
  }

  .contact-us .gold-bar {
    margin: 1.5rem 0 2rem;
  }

  .Homepage_ContactUs_MapImage {
    margin: 0;
    padding: 0;
    padding-top: 4rem;
  }
}

