header.contract-vehicle-head {
    background-image: url("../img/Contract_Vehicles/ContractVehicles.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
    width: 100vw;
    margin-top: 135px;
  }

.contract-vehicle-head .gold-bar {
  margin: 1.5rem 0 2.5rem;
}

.contract-vehicle-head .block p {
  max-width: 600px;
}

@media screen and (max-width: 800px) {

}