header.contacthead {
  background-image: url("../img/Contact/Contact.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
  width: 100vw;
  margin-top: 135px;
}

.section-blocks .gold-bar {
  margin: 1.5rem 0 2.5rem;
}

